.carrossel__titulo {
    color: var(--header-prymary-color);
    background-color: var(--header-text-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 1em 0 2em 0;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card_descricao {
    display: flex;
    justify-content: space-between;
}

.card_botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.botoes {
    display: flex;
}
.card {
    background: var(--header-prymary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 0.5em 1em;
}

.descricao__titulo {
    color: var(--header-secondary-color);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: blue;
    font-size: 18px;
    font-weight: 700;
}

.descricao__texto {
    font-size: 14px;
}

.botoes__item {
    background-color: var(--button-color);
    color: var(--header-prymary-color);
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    cursor: pointer;
    font-weight: 600;
}