@import url("../styles/header.css");

:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --background-color: #9b9b9b;
    --text-color: #333333;

    /* header */
    --header-prymary-color: #ffffff;
    --header-secondary-color: #9b10db;
    --header-text-color: linear-gradient(97.54deg, #54276e 1.72%, #9b10db 102.55%); 
    /* Fontes */
    --font-primary: "Oswald";
}

body {
    background-color: var(--background-color);
    font-family: var(--font-primary);
    font-size: 16px;
}